body{
	background-image: url('forest4.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	}


.btns{
width: 25% ;
height :50px;
border: 2px solid #555555;
background-color:rgb(190,220,170);
float:left;
padding:20px ,25px;
text-align:center;
font-size:20;
font-weight:700;
opacity:0.80;
}
.btns:hover{
opacity:0.70;
font-size:23;
}
#time{
	display:none;
}

a:hover{
	box-shadow:2px 3px 2px 3px ;
}





UPDATED CODE::::

body{
	/*background-image: url('forest4.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	*/
	background-color:grey;
	}


.btns{
width:24vw;
height:10vh;
/*border: 2px solid #555555;*/
background-color:rgb(190,220,170);
float:left;
/*padding:10% ,25%;*/
text-align:center;
font-size:1.5vw;
font-weight:700;
opacity:1;
}
.btns:hover{
opacity:0.80;
/*font-size:2vw;*/
}
#time{
	display:none;
}
